.angular/
node_modules/
env/
__pycache__/
.ipynb_checkpoints/
.DS_Store

*.csv*
*.zip*
*.seg*
*.xlsx*
*.log*
*.npy*
*.png*
*.pickle*
.vscode

backend/embedding_file_tracker.json
backend/whoosh_init_table/_MAIN_1.toc
backend/dotenv/*
backend/semantic_embedding_graph.json
all_datalakes
backend/preprocessed_data
backend/active_datalake.json
debug_folder
chrome-linux
misc
drawing
llm_outputs
semdiscenv
custom_lib/dotenv/.env
